$body-background-color: #ffffff;
$sidebar-color: #fafafa;
$search-background-color: #ffffff;
$table-background-color: #ffffff;
$code-background-color: #f6f6f6;

$body-text-color: #161616;
$body-heading-color: #161616;
$nav-child-link-color: #333333;
$search-result-preview-color: #555555;
$link-color: #1558d6;
$btn-primary-color: #ffd45a;
$base-button-color: #ffffff;

$border-color: #d9d9d9;
$feedback-color: #fff4c2;
