$body-background-color: #ffffff;
$sidebar-color: #ffffff;
$search-background-color: #ffffff;
$table-background-color: #ffffff;
$code-background-color: #f6f8fa;

$body-text-color: #2c3e50;
$body-heading-color: #1f2d3d;
$nav-child-link-color: #4e6e8e;
$search-result-preview-color: #6a737d;
$link-color: #3eaf7c;
$btn-primary-color: #3eaf7c;
$base-button-color: #f6f8fa;

$border-color: #eaecef;
$feedback-color: #f3f5f7;
